body {
	background: slategray;
}

.slides-flow {
	overflow: hidden;
	&__wrap {
		display: flex;
	}
	&__slide {
		flex: 1 0 100%;
	}
}

.card{
	margin:25px;
	padding:25px;
	background:white;
	text-align:center;
}
